.underlined {
    text-decoration: underline;
}

.right {
    text-align: right;
}

.center {
    width: 75%;
    padding: 10px;
    font-family: Consolas,Monospace,Courier;  
    margin: auto;
}

.blogentryheader {
    margin: 0px;
    display: block;
    height: 40px;
}

.box {
    margin: 20px;
    border: 3px solid black;
}

.menu {
    margin: 20px;
}

.ukraine-first {
    color: #0057B8;
}

.ukraine-last {
    color: #FFD700;
}

.content {
    margin: 20px;
    border: 3px solid black;
}

.content pre {
    margin: 20px;
}

.logo{
    margin: 30px;
    text-align: center;
    font-size: medium;
}

.generationmsg {
    text-align: center;
}

.blogheaderimage {
    max-width: 240px;
    max-height: 120px;
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}


.ulheader {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

.bloglist {
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    background-color: #fff;
}

.float-right{
    float:right;
}

.float-left{
    float:left;
}

ul {
    margin: 10px;
}

li a {
    display: block;
    color: #BBB;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

li a:hover {
  background-color: #BBB;
  color: black;
}

p {

    margin:10px;
    line-height: 150%;
}

h3 {

    margin:10px;
}

h4 {

    margin:10px;
}

hr {
    width: 90%;
    border: none;
    height: 1px;

    background-color: #BBB;
}

code {
    font-size: medium;
    white-space: pre-wrap;
}

table {
    border-collapse:collapse;
    border-spacing:0;
    margin:0px auto;
    font-size: 13px;
}

td {
    border-color:black;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    padding:5px 5px;
    word-break:normal;
}

body {
  background-color:#BBB;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
