.underlined {
    text-decoration: underline;
}

.right {
    text-align: right;
}

.center {
    width: 75%;
    padding: 20px;
    font-family: Consolas,Monospace,Courier;  
    margin: auto;
}

.blogentryheader {
    margin: 0px;
    display: block;
    height: 40px;
}

.box {
    margin: 20px;
    border: 3px solid black;
}

.menu {
    margin: 20px;
}

.content {
    margin: 20px;
    border: 3px solid black;
}

.content pre {
    margin: 20px;
}

.logo{
    margin: 30px;
    text-align: center;
    font-size: medium;
}

.generationmsg {
    text-align: center;
}

.blogheaderimage {
    max-width: 240px;
    max-height: 120px;
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}


.ulheader {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

.bloglist {
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    background-color: #fff;
}

.float-right{
    float:right;
}

.float-left{
    float:left;
}

ul {
    margin: 10px;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

li a:hover {
  background-color: #FFF;
  color: #000;
}

p {

    margin:10px;
    line-height: 150%;
}

h3 {

    margin:10px;
}

h4 {

    margin:10px;
}

hr {
    width: 90%;
    border: none;
    height: 1px;

    background-color: #BBB;
}